<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hugang.dao.FlightsDao">
	<select id="queryByCondition"
		resultType="com.hugang.entity.Flights">
		select * from flights where flight_date = to_date(#{flight_date}, 'yyyy-mm-dd') and tak_airport_id = (select id from airports where city_name = #{tak_airport_name}) and landing_airport_id = (select id from airports where city_name = #{landing_airport_name})
	</select>
</mapper>